name: Build and publish mpc-api to PyPI

on:
  release:
    types: [created]

jobs:
  deploy:
    if: startsWith(github.event.release.tag_name, 'mpc-api-v')
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install build

      - name: Build package
        working-directory: ./mpc_api
        run: python -m build --sdist --wheel --outdir dist/ .

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: mpc_api/dist
