name: PyTest mpc_api

on:
  push:
    branches: [main]
    paths:
      - "mpc-api/**"
      - ".github/workflows/mpc_api_pytest.yml"
  pull_request:
    paths:
      - "mpc-api/**"
      - ".github/workflows/mpc_api_pytest.yml"

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        working-directory: ./mpc-api
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[test]

      - name: Test mpc_api
        working-directory: ./mpc-api
        run: |
          pytest -v -s
