name: PyTest mpc_orb

on:
  push:
    branches: [main]
    paths:
      - "mpc_orb/**"
      - ".github/workflows/mpc_orb_pytest.yml"
  pull_request:
    paths:
      - "mpc_orb/**"
      - ".github/workflows/mpc_orb_pytest.yml"

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        exclude:
          - os: macos-latest
            python-version: "3.6"
          - os: macos-latest
            python-version: "3.7"
          - os: ubuntu-latest
            python-version: "3.6"
          - os: ubuntu-latest
            python-version: "3.7"

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        working-directory: ./mpc_orb
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install .[test]

      - name: Test mpc_orb
        working-directory: ./mpc_orb
        run: |
          pytest -v -s
